@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --color_botones: #FC427B;
    --color_texto: #2C3A47;
    --fondo_botones_dark : #354858;
    --blanco: #fff;
}

*{
	font-family: 'Mukta', sans-serif !important;
}
body {
    background-color: var(--color_texto);
    color: var(--blanco);
}
a {
    color: var(--blanco);
    font-size: 20px;
    text-decoration: none;
    background-color: var(--color_botones);
    padding: 10px;
    border-radius: 20%;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.contenedor_botones {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
}
.crud {
    background-color: rgb(255, 204, 0);
}
/* .img_crud {
    padding-left: 700px;
    padding-top: 140px;
} */